In [ ]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv("Iris.csv")

In [18]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    146.000000
mean    75.500000       5.843333      3.054000       3.758667      1.225342
std     43.445368       0.828066      0.433594       1.764420      0.755834
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [43]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species  Code
0   1            5.1           3.5              1           0.2        0     0
1   2            4.9           3.0              1           0.2        0     0
2   3            4.7           3.2              1           NaN        0     0
3   4            4.6           3.1              2           0.2        0     0
4   5            5.0           3.6              1           0.2        0     0

In [47]:
df.shape

(150, 7)

In [32]:
df.isna()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Code
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
145,False,False,False,False,False,False,False
146,False,False,False,False,False,False,False
147,False,False,False,False,False,False,False
148,False,False,False,False,False,False,False
149,False,False,False,False,False,False,False

In [33]:
df1 = df.fillna(value=0)
df1.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Code
0,1,5.1,3.5,1,0.2,Iris-setosa,0
1,2,4.9,3.0,1,0.2,Iris-setosa,0
2,3,4.7,3.2,1,0.0,Iris-setosa,0
3,4,4.6,3.1,2,0.2,Iris-setosa,0
4,5,5.0,3.6,1,0.2,Iris-setosa,0

In [34]:
df2=df.fillna(value=df["SepalLengthCm"].mean())
df2.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Code
0,1,5.1,3.5,1,0.200000,Iris-setosa,0
1,2,4.9,3.0,1,0.200000,Iris-setosa,0
2,3,4.7,3.2,1,5.843333,Iris-setosa,0
3,4,4.6,3.1,2,0.200000,Iris-setosa,0
4,5,5.0,3.6,1,0.200000,Iris-setosa,0

In [35]:

df3=df.fillna(value=df["SepalLengthCm"].min())
df3.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Code
0,1,5.1,3.5,1,0.2,Iris-setosa,0
1,2,4.9,3.0,1,0.2,Iris-setosa,0
2,3,4.7,3.2,1,4.3,Iris-setosa,0
3,4,4.6,3.1,2,0.2,Iris-setosa,0
4,5,5.0,3.6,1,0.2,Iris-setosa,0

In [48]:

df4=df.dropna()
df4.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species  Code
0   1            5.1           3.5              1           0.2        0     0
1   2            4.9           3.0              1           0.2        0     0
3   4            4.6           3.1              2           0.2        0     0
4   5            5.0           3.6              1           0.2        0     0
6   7            4.6           3.4              1           0.3        0     0

In [50]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm      int32
PetalWidthCm     float64
Species            int32
Code               int32
dtype: object

In [28]:
df["PetalLengthCm"]=df["PetalLengthCm"].round(0).astype(int)
print(df["PetalLengthCm"].dtypes)
df.head()

int32

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5              1           0.2  Iris-setosa
1   2            4.9           3.0              1           0.2  Iris-setosa
2   3            4.7           3.2              1           NaN  Iris-setosa
3   4            4.6           3.1              2           0.2  Iris-setosa
4   5            5.0           3.6              1           0.2  Iris-setosa

In [37]:
from sklearn import preprocessing

In [38]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [39]:
label_encoder = preprocessing.LabelEncoder()

In [40]:
df['Species']= label_encoder.fit_transform(df['Species'])

In [41]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Code
0,1,5.1,3.5,1,0.2,0,0
1,2,4.9,3.0,1,0.2,0,0
2,3,4.7,3.2,1,NaN,0,0
3,4,4.6,3.1,2,0.2,0,0
4,5,5.0,3.6,1,0.2,0,0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5,2.3,2,2
146,147,6.3,2.5,5,1.9,2,2
147,148,6.5,3.0,5,2.0,2,2
148,149,6.2,3.4,5,2.3,2,2
149,150,5.9,3.0,5,1.8,2,2

In [42]:
df['Species'].unique()

array([0, 1, 2])